<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main class="container">
      <div class="login-form-container">
        <div class="login-form">
          <h1 class="txt-center">404 - Page not found!</h1>
        </div>
      </div>
    </main>
  </body>
</html>